* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important
}

body {
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700 !important;
}

p {
    font-family: 'Source Code Pro', monospace;
}

/* --- Start styling Navbar ---*/

.navigation-bar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.navbar-custom{
    height: 5rem !important;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.navbar-custom a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #fff !important;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

/*Apply navbar styles on scroll*/

.scrolling-active{
    background-color: #B026FF;
    color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .navbar-custom a{
    color: #fff !important;
}

.scrolling-active .navbar-custom{
    height: 3.5rem !important;
}
/*End navbar styles on scroll*/


.about-section .title-container {
    position: relative;
    left: 20%;
    top: 12rem;
}

.about-section .title-container h2 {
    position: absolute;
    top: 10%;
    left: -3rem;
}

.about-section h3 {
    font-style: italic;
    font-size: 3rem;
}

.about-section .text-container {
    margin-top: 8rem;
    padding-right: 8rem !important;
}

.about-section .button-container {
    gap: 1rem;
}

.bg-black {
    background-color: #000;
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.bg-black h1 {
    font-size: 3rem;
    max-width: 900px;
    color: #fff;
    text-align: center;
    position: relative;
    top: -3rem;
}

.blob,
.blob-2 { 
    z-index: -100;
    position: relative;
    width: 450px;
    height: 410px;
    background-size: cover;
    background-repeat: no-repeat;
  }

.blob { 
    left: 40%;
    top: -2rem;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(0 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23B026FF%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23c9c9f4%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M866.5%2C638.5Q830%2C777%2C692.5%2C795.5Q555%2C814%2C407%2C865.5Q259%2C917%2C151.5%2C791.5Q44%2C666%2C59%2C505.5Q74%2C345%2C189.5%2C253.5Q305%2C162%2C429%2C179.5Q553%2C197%2C647%2C247.5Q741%2C298%2C822%2C399Q903%2C500%2C866.5%2C638.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M866.5%2C638.5Q830%2C777%2C692.5%2C795.5Q555%2C814%2C407%2C865.5Q259%2C917%2C151.5%2C791.5Q44%2C666%2C59%2C505.5Q74%2C345%2C189.5%2C253.5Q305%2C162%2C429%2C179.5Q553%2C197%2C647%2C247.5Q741%2C298%2C822%2C399Q903%2C500%2C866.5%2C638.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
  }
   
.blob-2 { 
    top: -4rem;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(0 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23B026FF%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23c9c9f4%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M882%2C639.5Q833%2C779%2C698%2C819.5Q563%2C860%2C418.5%2C875.5Q274%2C891%2C153.5%2C780.5Q33%2C670%2C47%2C505Q61%2C340%2C172.5%2C232.5Q284%2C125%2C421%2C147.5Q558%2C170%2C711.5%2C182Q865%2C194%2C898%2C347Q931%2C500%2C882%2C639.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M882%2C639.5Q833%2C779%2C698%2C819.5Q563%2C860%2C418.5%2C875.5Q274%2C891%2C153.5%2C780.5Q33%2C670%2C47%2C505Q61%2C340%2C172.5%2C232.5Q284%2C125%2C421%2C147.5Q558%2C170%2C711.5%2C182Q865%2C194%2C898%2C347Q931%2C500%2C882%2C639.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
  }
  

.blog-section {
    color: #fff;
}


button {
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase !important;
    padding: 20px 25px;
    border: none;
}

.button-primary {
    background-color: #181818;
    color: #fff;
}

.button-primary:hover {
    background-color: #212121;
    color: #fff;
}

.button-secondary {
    background-color: #e3e5e9;
    color: #181818;
}

.button-secondary:hover {
    background-color: #dadde1;
    color: #181818;
}

.fade-in {
    overflow-y: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

.fade-in.is-visible {
      opacity: 1;
  }

.para-1 {
    background-image: url(https://images.unsplash.com/photo-1502217625004-89c03571bcca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    /*background-image: url(/images/drag-costume.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35rem;
    background-attachment: fixed;
  }

.projects-img-container img {
    width: 100%;
    margin-bottom: 1rem;
}

.projects-container .title-container {
    position: relative;
    left: -20%;
    top: 0;
}

.projects-container .title-container h2{
    position: absolute;
    left: 60%;
    top: 50%;
}

.text-color {
    color: #B026FF;
}

.text-container {
    font-family: 'Source Code Pro', monospace;
}

.title-container h2 {
    font-size: 5.5rem;
    z-index: 100;
}

.slideLeft {
    -webkit-animation: slideLeft 1.2s both;
    -moz-animation: slideLeft 1.2s both;
    -o-animation: slideLeft 1.2s both;
    animation: slideLeft 1.2s both;
}

.slideRight {
    -webkit-animation: slideRight 1.2s both;
    -moz-animation: slideRight 1.2s both;
    -o-animation: slideRight 1.2s both;
    animation: slideRight 1.2s both;
}

@-webkit-keyframes slideLeft {
    0%{
       -webkit-transform: translateX(-50px);
    }
    100%{
        -webkit-transform: translateX(0); 
    }
}
@-moz-keyframes slideLeft {
    0%{
        -moz-transform: translateX(-50px);
     }
     100%{
         -moz-transform: translateX(0); 
     }
}
@-o-keyframes slideLeft {
    0%{
        -o-transform: translateX(-50px);
     }
     100%{
         -o-transform: translateX(0); 
     }
}
@keyframes slideLeft {
    0%{
        transform: translateX(-50px);
     }
     100%{
        transform: translateX(0); 
     }
}

@-webkit-keyframes slideRight {
    0%{
       -webkit-transform: translateX(50px);
    }
    100%{
        -webkit-transform: translateX(0); 
    }
}
@-moz-keyframes slideRight {
    0%{
        -moz-transform: translateX(50px);
     }
     100%{
         -moz-transform: translateX(0); 
     }
}
@-o-keyframes slideRight {
    0%{
        -o-transform: translateX(50px);
     }
     100%{
         -o-transform: translateX(0); 
     }
}
@keyframes slideRight {
    0%{
        transform: translateX(50px);
     }
     100%{
        transform: translateX(0); 
     }
}



